@font-face {
  font-family: azonix;
  src: url(../fonts/azonix/Azonix.otf);
}
.header {
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #0b0b0b;
  background: linear-gradient(0deg, #0b0b0b 0%, rgb(32, 32, 45) 88%, rgb(96, 96, 96) 100%);
  color: #dedede;
  z-index: 1000;
}
.header .nav {
  display: flex;
  height: 99%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav-logo {
  font-size: 2rem;
  font-weight: 800;
  padding: 0 5%;
}
.header .nav .nav-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0 1%;
  color: #dedede;
  margin-right: 5%;
  cursor: pointer;
}
.header .nav .nav-toggle:focus:not(:focus-visible) {
  outline: none;
}
.header .nav .nav-list {
  position: fixed;
  left: 100%;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  opacity: 0;
  transition: all 0.5s ease;
}
.header .nav .nav-list .nav-list-item {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .nav .nav-list .nav-list-item .nav-item-link {
  color: #dedede;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 800;
}
.header .nav .nav-list .nav-list-item .nav-item-link:hover {
  -webkit-animation: changeColor 7s infinite alternate linear;
          animation: changeColor 7s infinite alternate linear;
  text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.5333333333);
  transition: all 0.5s ease;
}
.header .nav .nav-list .nav-list-item .nav-item-link_active {
  color: #dfb85a;
}
.header .nav .nav-list_visible {
  left: 0;
  opacity: 0.8;
}
.header .border {
  height: 1%;
  width: 100%;
  background: #dedede;
}
.header:hover .border {
  -webkit-animation: changeBg 7s infinite alternate linear;
          animation: changeBg 7s infinite alternate linear;
}
.header:hover .nav-toggle {
  -webkit-animation: changeColor 7s infinite alternate linear;
          animation: changeColor 7s infinite alternate linear;
}

@media (min-width: 900px) {
  .header .nav .nav-toggle {
    display: none;
  }
  .header .nav .nav-list {
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    background: none;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: opacity 0.5s ease;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
  scroll-snap-align: start;
  overflow: auto;
}
.about .cointainer-dynamic-title .container-title .title-about {
  background: #0b0b0b;
  -webkit-animation: changeColor 5s infinite alternate linear;
          animation: changeColor 5s infinite alternate linear;
  font-size: 2.3rem;
  text-align: center;
  font-weight: 400;
  border: none;
  box-shadow: none;
}
.about .cointainer-dynamic-title .container-subtitle-change {
  height: 1.5rem;
  display: block;
}
.about .cointainer-dynamic-title .container-subtitle-change .subtitle-main {
  display: inline-block;
  min-height: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #dedede;
  font-size: 1.3rem;
}
.about .cointainer-dynamic-title .container-subtitle-change .subtitle-main .color {
  color: #dfb85a;
}
.about .container-about_me {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  overflow: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.375rem;
}
.about .container-about_me .photo-profile {
  max-width: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container-about_me .container-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 12rem;
  overflow: auto;
}
.about .container-about_me .container-description .color {
  color: #dfb85a;
}
.about .container-about_me .cv {
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 0.375rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  background-color: #dedede;
  width: 80%;
  border: none;
  filter: drop-shadow(0px 0px 1px #dedede);
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
  color: #1a1919;
}
.about .container-about_me .cv:hover, .about .container-about_me .cv:focus {
  background-color: #0b0b0b;
  text-decoration: none;
  filter: drop-shadow(0px 0px 1px #dfb85a);
  -webkit-animation: changeColor 5s infinite alternate linear;
          animation: changeColor 5s infinite alternate linear;
}

.proyects .container-title .title-proyects {
  text-align: center;
  font-size: 1.5rem;
}
.proyects .carrousel {
  width: 100%;
  max-width: 120em;
  background-color: #0b0b0b;
  padding: 0.475rem;
  /* filter: drop-shadow(0px 0px 2px #dedede); */
}
.proyects .carrousel .container-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border-radius: 0.475rem;
  filter: drop-shadow(0px 0px 2px #dedede);
}
.proyects .carrousel .container-cards .card-proyect {
  display: none;
  width: 100%;
  padding: 0.475rem;
  border-radius: 0.475rem;
  background-color: #0b0b0b;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  filter: drop-shadow(0px 0px 2px #dedede);
}
.proyects .carrousel .container-cards .card-proyect:hover, .proyects .carrousel .container-cards .card-proyect:focus {
  filter: drop-shadow(0px 0px 2px #dfb85a);
}
.proyects .carrousel .container-cards .card-proyect .img-proyect {
  opacity: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.proyects .carrousel .container-cards .card-proyect h4 {
  height: 2rem;
  text-align: center;
  opacity: 0;
}
.proyects .carrousel .container-cards .card-proyect .btn-info {
  opacity: 0;
  padding: 0.735rem;
  font-size: 0.8rem;
  border-radius: 0.475rem;
  filter: drop-shadow(0px 0px 2px #dedede);
}
.proyects .carrousel .container-cards .visible {
  display: flex;
}
.proyects .carrousel .container-cards .visible .img-proyect, .proyects .carrousel .container-cards .visible h4, .proyects .carrousel .container-cards .visible .btn-info {
  -webkit-animation: aparecer 1s ease-in forwards;
          animation: aparecer 1s ease-in forwards;
}
.proyects .list-proyects {
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  list-style-type: none;
  overflow: auto;
  height: 5rem;
}
.proyects .list-proyects .proyect-name {
  width: 100%;
  line-height: 1.8;
}
.proyects .list-proyects .seleccionado {
  color: #dfb85a;
}
.proyects .list-proyects:hover, .proyects .list-proyects:focus {
  cursor: pointer;
}

.tecnologies {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
.tecnologies .container-title .title-tec {
  text-align: center;
  font-size: 1.5rem;
}
.tecnologies .slide-tec {
  width: 100%;
  padding: 1rem 0.5rem;
  box-shadow: 0px 0px 8px #dedede;
  border-radius: 0.475rem;
  overflow: auto;
  transition: box-shadow 0.3s ease-in;
}
.tecnologies .slide-tec:focus, .tecnologies .slide-tec:hover {
  box-shadow: 0px 0px 8px #dfb85a;
}
.tecnologies .slide-tec .container-tecnologies {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  width: 280%;
  justify-content: space-between;
  align-items: center;
}
.tecnologies .slide-tec .container-tecnologies .btn-tec {
  background-color: transparent;
  border: none;
}
.tecnologies .slide-tec .container-tecnologies .btn-tec .ico-tec {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 0px 1px #dedede);
}
.tecnologies .container-description-tec {
  width: 100%;
  height: 16rem;
  padding: 1rem;
  overflow: auto;
}
@-webkit-keyframes changeBg {
  0% {
    background: #5298fa;
  }
  17% {
    background: #7fd4a5;
  }
  33% {
    background: #dfb85a;
  }
  50% {
    background: #fc8064;
  }
  66% {
    background: #ff4242;
  }
  83% {
    background: #b26df2;
  }
  100% {
    background: #327fea;
  }
}
@keyframes changeBg {
  0% {
    background: #5298fa;
  }
  17% {
    background: #7fd4a5;
  }
  33% {
    background: #dfb85a;
  }
  50% {
    background: #fc8064;
  }
  66% {
    background: #ff4242;
  }
  83% {
    background: #b26df2;
  }
  100% {
    background: #327fea;
  }
}
@-webkit-keyframes changeColor {
  0% {
    color: #5298fa;
  }
  17% {
    color: #7fd4a5;
  }
  33% {
    color: #dfb85a;
  }
  50% {
    color: #fc8064;
  }
  66% {
    color: #ff4242;
  }
  83% {
    color: #b26df2;
  }
  100% {
    color: #327fea;
  }
}
@keyframes changeColor {
  0% {
    color: #5298fa;
  }
  17% {
    color: #7fd4a5;
  }
  33% {
    color: #dfb85a;
  }
  50% {
    color: #fc8064;
  }
  66% {
    color: #ff4242;
  }
  83% {
    color: #b26df2;
  }
  100% {
    color: #327fea;
  }
}
@-webkit-keyframes lines {
  0% {
    left: 98vw;
    opacity: 0;
  }
  50% {
    display: inline-block;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes lines {
  0% {
    left: 98vw;
    opacity: 0;
  }
  50% {
    display: inline-block;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
html body {
  min-height: 100%;
  font-family: azonix, sans-serif;
  background: #0b0b0b;
  /* .container-background{
      position: fixed;
      left: 0;
      top:0;
      background-color:transparent;
      width: 100%;
      min-height: 100%;
      z-index: -10;
      .line{
          position: absolute;
          z-index: -1;
          display: inline block;
          bottom: 100px;
          width: 2px;
          height: 10px;
          rotate:0.5 0 1 90deg;
          transform: translateX(-100%);
          animation: changeBg 2s infinite alternate linear, lines 5s ease-in-out 1s normal infinite;
      }
  } */
}
html body .container-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: screen;
  overflow-y: scroll;
  min-height: 100%;
  padding-bottom: 4rem;
}
html body .container-page .container-section {
  height: 100%;
  width: 80vw;
  padding-top: 15vh;
  scroll-snap-align: start;
}
html body .container-page .container-section .section, html body .container-page .container-section .section-contact {
  background: #0b0b0b;
  opacity: 1;
  color: #dedede;
  width: 100%;
  height: 100%;
  padding: 15% 10%;
  filter: drop-shadow(0px 0px 2px #dedede);
  border-radius: 0.475rem;
  transition: filter 1s ease;
}
html body .container-page .container-section .section:hover, html body .container-page .container-section .section:focus, html body .container-page .container-section .section-contact:hover, html body .container-page .container-section .section-contact:focus {
  filter: drop-shadow(0px 0px 2px #dfb85a);
}/*# sourceMappingURL=style.css.map */