//colors
$black:#0b0b0b;
$darkGrey:#1a1919;
$lightGrey: #606060;
$cornflowerBlue:#5298fa;
$royalBlue: #327fea;
$vistaBlue:#7fd4a5;
$equator:#dfb85a;
$salmon:#fc8064;
$coralRed:#ff4242;
$heliotrope:#b26df2;
$border:#fee6ae;
$white:#dedede; 

//gradients
$gradientBTW:linear-gradient(0deg, $black 0%, rgba(32,32,45,1) 88%, rgba(96,96,96,1) 100%);

//fonts
@font-face {
    font-family: azonix;
    src: url(../fonts/azonix/Azonix.otf);
}